<div id="row1" class="row">

    <div ng-repeat="num in [1,2,3,4,5,6,7]" ng-class="calendarRowCellClass(num)" class="calendar-cell">
        <a ng-class="calendarButtonClass(num)" ng-show="showCalendarDayCell(num)"
           ng-click="dayClick(num)" tooltip="{{getTooltip(num)}}">
            <span class="text-center">{{dayLabel(num)}}</span>
        </a>
    </div>

</div>

<div id="row2" class="row">

    <div ng-repeat="num in [8,9,10,11,12,13,14]" ng-class="calendarRowCellClass(num)" class="calendar-cell">
        <a ng-class="calendarButtonClass(num)" ng-show="showCalendarDayCell(num)"
           ng-click="dayClick(num)" tooltip="{{getTooltip(num)}}">
            <span class="text-center">{{dayLabel(num)}}</span>
        </a>
    </div>

</div>

<div id="row3" class="row">

    <div ng-repeat="num in [15,16,17,18,19,20,21]" ng-class="calendarRowCellClass(num)" class="calendar-cell">
        <a ng-class="calendarButtonClass(num)" ng-show="showCalendarDayCell(num)"
           ng-click="dayClick(num)" tooltip="{{getTooltip(num)}}">
            <span class="text-center">{{dayLabel(num)}}</span>
        </a>
    </div>

</div>

<div id="row4" class="row">

    <div ng-repeat="num in [22,23,24,25,26,27,28]" ng-class="calendarRowCellClass(num)" class="calendar-cell">
        <a ng-class="calendarButtonClass(num)" ng-show="showCalendarDayCell(num)"
           ng-click="dayClick(num)" tooltip="{{getTooltip(num)}}">
            <span class="text-center">{{dayLabel(num)}}</span>
        </a>
    </div>

</div>

<div id="row5" class="row">

    <div ng-repeat="num in [29,30,31,32,33,34,35]" ng-class="calendarRowCellClass(num)" class="calendar-cell">
        <a ng-class="calendarButtonClass(num)" ng-show="showCalendarDayCell(num)"
           ng-click="dayClick(num)" tooltip="{{getTooltip(num)}}">
            <span class="text-center">{{dayLabel(num)}}</span>
        </a>
    </div>

</div>

<div id="row6" class="row">

    <div ng-repeat="num in [36,37,38,39,40,41,42]" ng-class="calendarRowCellClass(num)" class="calendar-cell">
        <a ng-class="calendarButtonClass(num)" ng-show="showCalendarDayCell(num)"
           ng-click="dayClick(num)" tooltip="{{getTooltip(num)}}">
            <span class="text-center">{{dayLabel(num)}}</span>
        </a>
    </div>

</div>
        
