/* Google Fonts */
/*
@import url(//fonts.googleapis.com/css?family=Open+Sans);
*/
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-regular.ttf') format('truetype');
}

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  padding-bottom: 30px;
/*
  background-image: url(http://benague.ca/files/pw_pattern.png);
*/
  background-image: url('images/background.png');
}

h1 {
  margin-bottom: 40px;
}

.calendar-cell {
  padding-left: 0px;
  padding-right: 0px;
}

.link {
  border-bottom: 2px dotted #55acee;
  text-decoration: none;
  color: #55acee;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* css for the shiny buttons */
.btn {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  width: 75%;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

@media (min-width: 920px) {
  .btn {
    width: 60px;
    margin: 10px;
  }
}

.calendar-btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.steel {
  color: #d0d9d6;
  border: 2px #d0d9d6 solid;
}

.steel:hover {
  background-color: #d0d9d6;
  color: #fff
}

.navbtn {
  color: black;
}

.navbtn:hover {
  color: #d0d9d6;
  border: 2px #d0d9d6 solid;
}

.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}

.nav-image {
  height: 60px;
  width: 60px;
}

.current-cell {
  background-color: #f8f8f8;
  border-radius: 5px;
}

#current-month {
  margin-bottom: 30px;
}

#edit-mode {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#comment-editor {
  margin-top: 30px;
}

.form-control {
  font-size: 18px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #fff;
  border-width: 5px 5px 0;
}
.tooltip-inner {
  color: #000;
  background: #fff;
  border: solid 1px #fff;
  font-size: 18px;
}

#in-progress {
  position: absolute;
  top: 0px;
  left: 0px;
}

#in-progress-content {
  font-size: 14px;
}

#tag-list {
  margin: 10px;
  font-size: 18px;
}

#tag-list:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.tag-item-selected {
  color: white;
  background-color: #d0d9d6;
  margin: 0px;
  padding: 8px 5px;
}

.tag-item {
  background-color: #f8f8f8;
  margin: 0px;
  padding: 8px 5px;
}

#diagnostics {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
}