<!DOCTYPE html>
<html ng-app="divoApp" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Divo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <link href="divo.css" rel="stylesheet"/>
    <link href="transparent_button.css" rel="stylesheet"/>
    <script src="divo_app.js"></script>
</head>
<body ng-controller="calendarCtrl">

    <div id="current-month" class="row">

        <div class="col-xs-3">
            <ul id="tag-list" class="list-group">
                <li ng-repeat="tag in tags" ng-class="tagItemClass(tag.code)" ng-click="selectCurrentTag(tag.code)">{{tag.russianTitle}}</li>
            </ul>
        </div>

        <div class="col-xs-1">
            <a class="btn navbtn text-left" ng-click="clickBack()">&lt;</a>
        </div>

        <div class="col-xs-4">
            <h2 class="text-center">{{month}}</h2>
        </div>

        <div class="col-xs-1">
            <a class="btn navbtn text-rignt" ng-click="clickForward()">&gt;</a>
        </div>

        <div class="col-xs-3 text-right">
            <button id="edit-mode" type="button" class="btn btn-default" ng-click="toggleEditMode()"
                    ng-show="showEditButton()">
                <h4>{{editButtonCaption()}}</h4>
            </button>
        </div>
    </div>

    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <calendar ng-show="showCalendar()" month="data.currentMonth" show-current="editMode"
            day-offset="dayOffset" on-click="dayClick(id)">
    </calendar>

    <div id="comment-editor" ng-show="showCommentEditor()">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <h4>{{currentCalendarDayDate()}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <input id="current-comment" type="text" class="form-control" ng-model="currentCalendarDay.comment" ng-change="onCommentChange()"/>
            </div>
        </div>
    </div>

    <div id="in-progress">
        <progressbar class="progress-striped active" value="100" type="warning" ng-show="progressShow()">
            <span id="in-progress-content">{{progressMessage}}</span>
        </progressbar>
    </div>

    <a id="diagnostics" class="tbutton" ng-show="isAdmin()" ng-click="doDiagnostics()">Диагностика</a>

</body>
</html>
